extends ../../layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `モーリスビジネス学院 A4フライヤー② | ${SITE_NAME}`,
      description: '',
      path: ROOT_PATH + 'work/school-future/',
      image: SITE_URL + '/assets/img/ogp.png',
    }

    const desc = {
      category: 'Graphic Design',
      name: 'モーリスビジネス学院 A4フライヤー②',
      garally: [
        'img_flyer02',
      ]
    };

    const contents = [
      {
        head: '概要',
        text: '職業訓練校の課題で「モーリスビジネス学院」のA4フライヤーを作成しました。',
      },
      {
        head: '使用ツール',
        text: 'illustlator / Photoshop',
      },
      {
        head: 'コンセプト',
        text: '仕事や人生の方向性に悩んでいたり、新しい事にチャレンジしたいと考えている方の背中を押せるようなフライヤーを目指しました。',
      },
      {
        head: 'デザイン',
        text: '文章で説明するよりキャッチコピーと雰囲気で読み手の心を動かすことを重視。コピーは手書き風のフォントの中でもゆるくなりすぎないようなものを採用し、文字のバランスや傾きで単調にならないよう調整しました。メインビジュアルの画像はPhotoshopで切り抜いて合成しています。',
      },
      {
        head: '制作期間',
        text: '8時間',
      },
    ];

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================

block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  include ../../include/_single
