-
  var desc = {
    id : "comparison",
    category: 'Web Design',
    name: 'オリジナルコーポレートサイト',
    garally: [
      'screen_company01_pc',
      'screen_company02_pc',
      'screen_company03_pc',
      'screen_company04_pc',
    ]
  };

  var contents = [
    {
      head: 'URL',
      dd: [
        {
          name: 'Top : ',
          url: 'https://comparison.n-enu.me/',
        },
        {
          name: 'News : ',
          url: 'https://comparison.n-enu.me/news/',
        }
      ]
    },
    {
      head: 'Basic認証',
      text: 'web / portfolio',
    },
    {
      head: '参考',
      dd: [
        {
          text: 'こちらのブログからワイヤーフレームを参考にさせていただきました。（ポートフォリオ掲載可）',
          smallText: 'https://pengi-n.co.jp/blog/webdesign-challenge2/',
        }
      ]
    },
    {
      head: '概要',
      text: 'IT系コーポレートサイトのリニューアルの想定。現行サイトに採用のコンテンツがないため、Wantedlyへのリンクを配置し採用応募者数を増やしたいというのがメインの要望としてありました。',
    },
    {
      head: '使用ツール',
      text: 'HTML / CSS / jQuery / PHP / Wordpress / XD / Photoshop',
    },
    {
      head: 'レスポンシブ',
      text: '対応',
    },
    {
      head: 'デザイン',
      text: '初めてWebサイトのデザインカンプを制作したため至らない部分が多く、コーディング中にデザインにも修正を入れながら進めました。デザインの段階でサイトの動きや細かい部分の想定をしておくことの重要性を学びました。',
    },
    {
      head: 'コーディング',
      text: 'Wordpressで構築。採用応募者数の増加に繋がるようTOPページのファーストビュー内に採用情報を掲載できるようにしました。カスタムフィールドで作成しており、文言の変更やコンテンツの削除は管理画面側で操作可能になっています。',
    },
    {
      head: '制作期間',
      text: '5日（ デザイン2日 / コーディング3日 ）+ 修正',
    },
  ];

include ../_modal


