-
  var desc = {
    id: 'music',
    category: 'Banner',
    name: '音楽サブスクバナー',
    garally: [
      'bnr_music_lg',
      'bnr_music_md',
      'bnr_music_sm',
    ]
  };

  var contents = [
    {
      head: '概要',
      text: '音楽サブスクのセールを想定したバナーを作成しました。',
    },
    {
      head: '使用ツール',
      text: 'illustlator / Photoshop',
    },
    {
      head: 'デザイン',
      text: 'ネオンのデザインを取り入れてみたくて制作しました。Illustlatorでパスを描きPhotoshopで加工しています。',
    },
    {
      head: '制作期間',
      text: '8時間',
    },
  ];

include ../_modal
