-
  var desc = {
    id : "portfolio",
    category: 'Web Design',
    name: 'ポートフォリオサイト',
    garally: [
      'screen_portfolio01',
      'screen_portfolio02',
      'screen_portfolio03',
      'screen_portfolio04',
      'screen_portfolio05'
    ]
  };

  var contents = [
    {
      head: 'URL',
      dd: [
        {
          url: 'https://n-enu.me/',
        }
      ]
    },
    {
      head: '概要',
      text: '転職活動のためのポートフォリオサイトを作成しました。',
    },
    {
      head: '使用ツール',
      text: 'HTML / CSS / javascript / GSAP / webpack / XD / After Effects ',
    },
    {
      head: 'レスポンシブ',
      text: '対応',
    },
    {
      head: 'コンセプト',
      text: 'シンプルな中にも遊び心があるようなポートフォリオを目指しました。新しく勉強した内容を取り入れながらブラッシュアップしています。',
    },
    {
      head: 'コーディング',
      text: 'webpackでのコーディングやアニメーションの読み込みに慣れておらず、勉強しながら制作を進めました。HTMLで作成した後pugを学び書き換えています。その後GSAPアニメーションを勉強し、サイト全体に動きを追加しました。',
    },
    {
      head: '制作期間',
      text: '2022年8月～',
    },
  ];

include ../_modal
