-
  var desc = {
    id : "portfolio",
    category: 'Web Design',
    name: 'オリジナルポートフォリオサイト',
    garally: [
      //- 'screen_portfolio_dark01_pc.jpg',
      //- 'screen_portfolio01_pc.jpg',
      //- 'screen_portfolio02_pc.jpg',
      //- 'screen_portfolio03_pc.jpg',
      //- 'screen_portfolio04_pc.jpg'
    ]
  };

  var contents = [
    {
      head: 'URL',
      dd: [
        {
          url: 'https://n-enu.me/',
        }
      ]
    },
    {
      head: '概要',
      text: '転職活動のためのポートフォリオサイトを作成しました。',
    },
    {
      head: '使用ツール',
      text: 'XD / After Effects / HTML / CSS / javascript / webpack',
    },
    {
      head: 'レスポンシブ',
      text: '対応',
    },
    {
      head: 'コンセプト',
      text: 'シンプルな中にも遊び心があるようなサイトを目指しました。',
    },
    {
      head: 'デザイン',
      text: 'After Effectの操作を学びながらアニメーションを作成しました。XDのデザインカンプにもjsonファイルを読み込んでアニメーションを表示しています。',
    },
    {
      head: 'コーディング',
      text: 'webpackでのコーディイングやアニメーションの読み込みに慣れておらず、勉強しながら制作を進めました。HTMLで作成した後pugを学び書き換えています。',
    },
    {
      head: '制作期間',
      text: '7日（ デザイン2日 / コーディング2日 / アニメーション1日 / リニューアル2日 ）',
    },
  ];

include ../_modal
