-
  var desc = {
    id: 'school-summer',
    category: 'Graphic Design',
    name: 'モーリスビジネス学院 A4フライヤー③',
    garally: [
      'img_flyer03',
    ]
  };

  var contents = [
    {
      head: '概要',
      text: '職業訓練校の課題で「モーリスビジネス学院」のA4フライヤーを作成しました。',
    },
    {
      head: '使用ツール',
      text: 'illustlator / Photoshop',
    },
    {
      head: 'コンセプト',
      text: '職業訓練校で学ぶことができる具体的な内容や環境が気になっている方に向けて、安心感を与えられるようなポップなフライヤーを目指しました。',
    },
    {
      head: 'デザイン',
      text: '初めてデザインをした制作物で想像以上に時間がかかりました。「Web」と「グラフィック」という2つの分野を学ぶことができるのが強みとしてある学校なのでメインビジュアルを2色で表現ています。文章のコンテンツを充実させることで不安や疑問を解消し、信頼感に繋げます。',
    },
    {
      head: '制作期間',
      text: '12時間',
    },
  ];

include ../_modal
