extends ../layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `作品一覧 | ${SITE_NAME}`,
      description: '作品一覧。',
      path: ROOT_PATH,
      image: SITE_URL + 'OGP画像のファイルパス'
    }

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================

block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  section.c-section
    .l-container
      h1.c-head-primary(lang="en")
        span.c-head-primary__icon
          img(src="/assets/img/common/icon_work.svg", alt="")
        | Work
      include ../include/_category
      include ../include/_work
