@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  category
*/
.p-category {
  margin-bottom: pxToRem(38px);
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: pxToRem(-10px);
  }
  &__item {
    margin: 0 pxToRem(10px) pxToRem(10px);
  }
  @include mq(md) {
    margin-bottom: pxToRem(48px);
    &__list {
      justify-content: center;
    }
  }
}
