@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  garally
*/
.p-garally {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  .swiper-wrapper {
    height: 40vw;
  }
  &__item {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    img {
      display: inline;
      align-self: center;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  @include mq(md) {
    &__list {
      max-height: 500px;
    }
  }
}
