@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  garally
*/
.p-garally {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  // &__list {
  //   height: 40vw;
  //   min-height: 264px;
  //   max-height: 264px;
  // }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      // display: inline;
      // align-self: center;
      // width: auto;
      // max-width: 100%;
      // max-height: 100%;
    }
  }
  @include mq(md) {
    &__list {
      // max-height: 450px;
    }
  }
}
