@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Header
*/
.p-header {
  height: 60px;
  background: $base-color;
  &__logo {
    position: relative;
    box-sizing: border-box;
    padding: 12px 0 0 3%;
    a {
      display: block;
    }
    img {
      display: block;
      width: 32px;
      height: 32px;
    }
  }
  &__dark {
    position: absolute;
    right: 72px;
    bottom: 6px;
  }
  @include mq(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 3%;
    &__head {
      padding: 0;
      img {
        width: 70px;
        height: 70px;
      }
      a {
        display: inline-block;
      }
    }
    &__logo {
      padding: 0;
      img {
        width: 40px;
        height: 40px;
      }
      a {
        overflow: hidden;
        transition: all 0.3s;
        &:hover {
          border-radius: 10px;
        }
      }
    }
    &__dark {
      position: absolute;
      right: 3%;
      bottom: 13px;
    }
  }
}
