extends ../../layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `スポーツジムキャンペーンのバナー | ${SITE_NAME}`,
      description: '',
      path: ROOT_PATH + 'work/school-summer/',
      image: SITE_URL + '/assets/img/common/ogp.png',
    }

    const desc = {
      category: 'Banner',
      name: 'スポーツジムキャンペーンのバナー',
      garally: [
        'bnr_sports_lg',
        'bnr_sports_md',
        'bnr_sports_sm',
      ]
    };

    const contents = [
      {
        head: '概要',
        text: 'スポーツジム入会金無料キャンペーンを想定して作成しました。',
      },
      {
        head: '使用ツール',
        text: 'illustlator / Photoshop',
      },
      {
        head: 'デザイン',
        text: '枠から飛び出るデザインで躍動感を演出。夏前にトレーニングやダイエットを頑張りたいと思っている人へ向けたコピーを入れクリックに繋げたいと考えました。',
      },
      {
        head: '制作期間',
        text: '5時間',
      },
    ];

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================

block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  include ../../include/_single
