//- ================================
//- 設定ファイル
//- ================================
-
  //- サイト全体設定
  const SITE_NAME = 'イタノナオのポートフォリオサイト';
  const SITE_URL = 'n-enu.me';
  const ROOT_PATH = '/';


  //- SNS設定
  const TWITTER = '';
  const FACEBOOK = '';

  const NOW = Date.now();


  //- グローバルナビゲーションン
  const items = [
    {
      name: 'Home',
      path: ROOT_PATH
    },
    {
      name: 'About',
      path: ROOT_PATH + '#about'
    },
    {
      name: 'Work',
      path: ROOT_PATH + '#work'
    },
    {
      name: 'Skill',
      path: ROOT_PATH + '#skill'
    },
    {
      name: 'Contact',
      path: ROOT_PATH + '#contact'
    }
  ];
