header.js-header.l-header.p-header
  h1.p-header__head: a(href=ROOT_PATH).p-logo.-primary: img(src="/assets/img/common/logo.svg", alt=SITE_NAME)
  button.js-drawer.p-hamburger(type="button", aria-controls="globalNav", aria-expanded="false")
    span.p-hamburger__line
      span.u-visuallyHidden メニューを開閉
  nav.p-drawer
    h2.u-visuallyHidden メニュー
    +globalNav(items, page.path)
  p.p-header__dark
    input.c-button.c-btn-dark#btn-dark-mode(type="checkbox" name="dark-mode")
