-
  const skills = [ 
    {
      title: 'HTML',
      text: '基本的なコーディングができます。このサイトはpugを勉強しながらpugで作成しました。',
      class: 'html',
    },
    {
      title: 'CSS',
      text: 'レスポンシブサイトの構築ができます。前職ではSCSSを使用し、gulpでコンパイルしていました。',
      class: 'css',
    },
    {
      title: 'Javascript',
      text: '複雑なコードを書くことはできませんが、ライブラリの実装や調整が可能です。前職ではjQueryも使用していました。',
      class: 'js',
    },
    {
      title: 'Wordpress',
      text: 'カスタム投稿・カスタムフィールド・お問い合わせフォーム等の基本的なテーマの構築ができます。',
      class: 'wp',
    },
    {
      title: 'Git',
      text: '前職ではBitbucket、GUIはSourceTreeを使用していました。コマンドに憧れ最近少しずつ使い始めました。',
      class: 'git',
    },
    {
      title: 'Illustlator',
      text: '職業訓練で学び基本的な操作ができます。主にグラフィックの作品制作で使用しました。',
      class: 'illustlator',
    },
    {
      title: 'Photoshop',
      text: '職業訓練で学び基本的な操作ができます。前職ではPhotoshopのデザインからコーディングすることがほとんどでした。',
      class: 'photoshop',
    },
    {
      title: 'XD',
      text: '独学ですが、個人的によく使用しているアプリケーションなので基本的な操作が可能です。',
      class: 'xd',
    },
    {
      title: 'Figma',
      text: '日本語対応を機に使用してみました。基本的な操作やプロトタイプ作成が可能です。',
      class: 'figma',
    },
    {
      title: 'After Effects',
      text: 'Lottieアニメーションに興味を持ち、ローディング作成などに使用してみました。',
      class: 'ae',
    },
  ];

.p-skill
  ul.p-skill__list
    each skill in skills
      li.p-skill__item
        div(class=`p-skill__img -${skill.class}`)
          span.p-skill__icon: img(src=`/assets/img/common/icon_${skill.class}.svg`, alt="")
        .p-skill__textArea
          h3.p-skill__head(lang="en") #{skill.title}
          p.p-skill__text #{skill.text}
