extends layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `${SITE_NAME}`,
      description: '',
      path: ROOT_PATH,
      image: SITE_URL + '/assets/img/common/ogp.png'
    }

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================


block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  .p-hero
    .l-container
      .p-hero__content 
        .p-hero__copy
          p.p-hero__copy-en Nao Itano
          p.p-hero__copy-ja はじめまして、イタノナオです。
        .p-hero__animation
          #js-animation-mv.p-animation-mv
  // /.hero

  #sound.c-section.-pt0
    .l-container
      audio#rain(src="/assets/sound/rain.mp3")
      p.c-btn-sound
        button(type="button") a
      .box
      .bob
  // /.sound

  section#about.c-section
    .l-container
      h2.c-head-primary(lang="en")
        span.c-head-primary__icon
          img(src="/assets/img/common/icon_about.svg", alt="")
        | About
      .p-content.-reverse
        .p-content__textArea
          h3.p-content__head イタノナオ
          p.p-content__text 1990年3月20日生まれ、京都市在住。
          p.p-content__text 見た目だけでは分からないコーディングの奥深さに興味を持ち、Web制作の世界に飛び込みました。
          p.p-content__text より良いものを作るために考え提案し、制作物への愛着を持ってコーディングができるようなエンジニアを目指しています。
          p.p-content__text 少しブランクがあるので、改めて基礎を学びながらも新しい事に挑戦していきたいと思っています。
        .p-content__imgArea.-circle
          img(src="https://placehold.jp/9bb6d9/9bb6d9/400x400.png?text=image", alt="")
      
      .c-card-icon
        ul.c-card-icon__list
          li.c-card-icon__item
            .c-card-icon__img: img(src="/assets/img/common/icon_music.svg", alt="")
            p.c-card-icon__text 学生時代は音楽に没頭しライブハウスでアルバイト。
          li.c-card-icon__item
            .c-card-icon__img: img(src="/assets/img/common/icon_egg.svg", alt="")
            p.c-card-icon__text 元おむらいす屋さん。大学卒業後約6年間働く。
          li.c-card-icon__item
            .c-card-icon__img: img(src="/assets/img/common/icon_pc.svg", alt="")
            p.c-card-icon__text 前職はWeb制作会社で約1年半コーディングを経験。
          li.c-card-icon__item
            .c-card-icon__img: img(src="/assets/img/common/icon_holiday.svg", alt="")
            p.c-card-icon__text ひと休み。ただ好きなことをする。
          li.c-card-icon__item
            .c-card-icon__img: img(src="/assets/img/common/icon_design.svg", alt="")
            p.c-card-icon__text Web制作全般に興味を持ち職業訓練校に通う。

        section.p-content.-center.-mt
          .p-content__textArea
            h3.p-content__head 最近のこと
            p.p-content__text After Effectsの操作方法を勉強しながら花火のアニメーションを制作しました。Lottieで実装しています。
          .p-content__imgArea
            #js-animation-hanabi
  // /#about

  section#work.c-section
    .l-container
      h2.c-head-primary(lang="en")
        span.c-head-primary__icon
          img(src="/assets/img/common/icon_work.svg", alt="")
        | Work
      include include/_category
      include include/_work
  // /#work

  section#skill.c-section
    .l-container
      h2.c-head-primary(lang="en")
        span.c-head-primary__icon
          img(src="/assets/img/common/icon_skill.svg", alt="")
        | Skill
      
      include include/_skill
  // /#skill

  section#like.c-section
    .c-bg
    .l-container
      h2.c-head-primary(lang="en")
        span.c-head-primary__icon
          img(src="/assets/img/common/icon_skill.svg", alt="")
        | Like
      section.p-content
        .p-content__textArea
          h3.p-content__head 「音」が好き
          p.p-content__text 吹奏楽やバンド活動の経験から、音楽を聴くのも演奏するのも好きです。
          p.p-content__text 音楽だけでなく生活音や環境音に耳を澄ますのも好きで、音を聞き分けることや耳コピが得意です。
          p.p-content__text CubaseというDAWソフトを使って時々家で録音したりもしていて、ピッチ補正という少し地味な趣味を持っています。
        .p-content__imgArea
          img(src="/assets/img/common/img_music.jpg", alt="バンドで撮影したMVの画像")

  section#contact.c-section
    .l-container
      h2.c-head-primary(lang="en")
        span.c-head-primary__icon
          img(src="/assets/img/common/icon_contact.svg", alt="")
        | Contact
      p.c-text.-center ご連絡はこちらのメールアドレスへお願いいたします。
      p.c-button.c-button-radius.-center.-mt.-width
        a.c-button-radius__text(href="mailto:np10320@gmail.com", target="_blank", rel="noopener noreferrer", lang="en")
          span.c-button-radius__icon
            img(src="/assets/img/common/icon_contact.svg", alt="")
          | np10320@gmail.com

  // /#contact
