extends ../../layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `レイングッズセールのバナー | ${SITE_NAME}`,
      description: '',
      path: ROOT_PATH + 'work/school-summer/',
      image: SITE_URL + '/assets/img/ogp.png',
    }

    const desc = {
      category: 'Banner',
      name: 'レイングッズセールのバナー',
      garally: [
        'bnr_rain_lg',
        'bnr_rain_md',
        'bnr_rain_sm',
      ]
    };

    const contents = [
      {
        head: '概要',
        text: '梅雨前のレイングッズセールを想定したバナーを作成しました。',
      },
      {
        head: '使用ツール',
        text: 'illustlator / Photoshop',
      },
      {
        head: 'デザイン',
        text: '雨の日の憂鬱な気持ちが少しわくわくに変わるようなポップで明るい印象のデザインを目指しました。',
      },
      {
        head: '制作期間',
        text: '8時間',
      },
    ];

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================

block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  include ../../include/_single
