extends ../../layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `モーリスビジネス学院 A4フライヤー① | ${SITE_NAME}`,
      description: '',
      path: ROOT_PATH + 'work/school-stairs/',
      image: SITE_URL + '/assets/img/ogp.png',
    }

    const desc = {
      category: 'Graphic Design',
      name: 'モーリスビジネス学院 A4フライヤー①',
      garally: [
        'img_flyer01.jpg',
      ]
    };

    const contents = [
      {
        head: '概要',
        text: '職業訓練校の課題で「モーリスビジネス学院」のA4フライヤーを作成しました。',
      },
      {
        head: '使用ツール',
        text: 'illustlator / Photoshop',
      },
      {
        head: 'コンセプト',
        text: '大人になってからでも一歩踏み出して新しいことを学んでみようと思ってもらえるようなフライヤーを目指しました。',
      },
      {
        head: 'デザイン',
        text: 'ジャンプ率を意識したキャッチコピーを目に入りやすい場所に配置。どのようなスキルを身につけステップアップしていくのかをイメージしやすいよう、カリキュラムを階段のイラストで表現しました。',
      },
      {
        head: '制作期間',
        text: '6時間',
      },
    ];

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================

block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  include ../../include/_single
