extends ../../layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `音楽サブスクバナー | ${SITE_NAME}`,
      description: '',
      path: ROOT_PATH + 'work/school-summer/',
      image: SITE_URL + '/assets/img/common/ogp.png',
    }

    const desc = {
      category: 'Banner',
      name: '音楽サブスクバナー',
      garally: [
        'bnr_music_lg',
        'bnr_music_md',
        'bnr_music_sm',
      ]
    };

    const contents = [
      {
        head: '概要',
        text: '音楽サブスクのセールを想定したバナーを作成しました。',
      },
      {
        head: '使用ツール',
        text: 'illustlator / Photoshop',
      },
      {
        head: 'デザイン',
        text: 'ネオンのデザインを取り入れてみたくて制作しました。Illustlatorでパスを描きPhotoshopで加工しています。',
      },
      {
        head: '制作期間',
        text: '8時間',
      },
    ];

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================

block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  include ../../include/_single
