@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  bg
*/
.c-bg {
  height: 26vw;
  margin-top: pxToRem(30px);
  overflow: hidden;
  img {
    width: 100%;
  }
  @include mq(md) {
    margin-top: pxToRem(60px);
  }
}
