@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Button
*/
.c-button {
  display: inline-block;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
}

/*
  -raduis
*/
.c-button-radius {
  display: block;
  &__icon {
    margin-right: pxToRem(4px);
    img {
      width: pxToRem(12px);
      height: pxToRem(12px);
      vertical-align: baseline;
    }
  }
  &__text {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: pxToRem(8px) pxToRem(20px);
    border-radius: 100px;
    background: $base-color;
    box-shadow: 6px 6px 8px $shadow-color, -6px -6px 8px #fff;
    color: $main-color;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    &:active {
      box-shadow: inset 6px 6px 8px $shadow-color, inset -6px -6px 8px #fff;
    }
    &.-small {
      min-width: pxToRem(74px);
      padding: pxToRem(6px) pxToRem(20px);
      font-size: pxToRem(14px);
    }
    &.is-active {
      box-shadow: inset 6px 6px 8px $shadow-color, inset -6px -6px 8px #fff;
    }
    &[data-filter="web"] {
      color: $yellow;
    }
    &[data-filter="banner"] {
      color: $green;
    }
    &[data-filter="graphic"] {
      color: $accent-color;
    }
  }
  &.-mt {
    margin-top: pxToRem(30px);
  }
  &.-center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  &.-small {
    max-width: pxToRem(180px);
  }
  &.-right {
    margin-right: 0;
    margin-left: auto;
  }
  @include mq(md) {
    &__text {
      padding: pxToRem(8px) pxToRem(20px);
      box-shadow: 5px 5px 6px $shadow-color, -5px -5px 6px #fff;
      &:active {
        box-shadow: inset 5px 5px 6px $shadow-color, inset -5px -5px 6px #fff;
      }
      &.-small {
        min-width: pxToRem(74px);
        padding: pxToRem(6px) pxToRem(20px);
        font-size: pxToRem(15px);
      }
    }
    input {
      display: none;
    }
    input:checked {
      & + .c-button-radius__text {
        box-shadow: inset 7px 7px 9px $shadow-color, inset -7px -7px 9px #fff;
      }
    }
    &.-mt {
      margin-top: pxToRem(30px);
    }
    &.-width {
      max-width: pxToRem(280px);
    }
  }
}

/*
	btn-dark
*/
.c-btn-dark {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  box-shadow: 3px 3px 4px $shadow-color, -3px -3px 4px #fff;
  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include moon();
  }
  &:checked {
    box-shadow: inset 5px 5px 6px $shadow-dark-top, inset -4px -4px 6px $shadow-dark-bottom;
    &::before {
      @include sun();
    }
  }
  @include mq(md) {
    width: 40px;
    height: 40px;
    box-shadow: 3px 3px 4px $shadow-color, -3px -3px 4px #fff;
    &::before {
      @include moon();
    }
    &:checked {
      box-shadow: inset 5px 5px 6px $shadow-dark-top, inset -4px -4px 6px $shadow-dark-bottom;
      &::before {
        @include sun();
      }
    }
  }
}
