@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  head-primary
*/
.c-head-primary {
  display: block;
  margin-bottom: pxToRem(32px);
  font-size: pxToRem(28px);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  span {
    display: inline-block;
  }
  &__in {
    position: relative;
  }
  &__animation {
    position: absolute;
    top: 50%;
    left: -100px;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
  }
  &.-skill {
    .c-head-primary__animation {
      right: -150px;
      left: auto;
      width: 150px;
      height: 150px;
    }
  }
  @include mq(md) {
    margin-bottom: pxToRem(46px);
    font-size: pxToRem(34px);
    &__animation {
      left: -150px;
      width: 150px;
      height: 150px;
    }
    &.-skill {
      .c-head-primary__animation {
        right: -180px;
        width: 180px;
        height: 180px;
      }
    }
  }
  @include mq(lg) {
    margin-bottom: pxToRem(64px);
    font-size: pxToRem(56px);
  }
}

/*
  head-secondary
*/
.c-head-secondary {
  margin-bottom: pxToRem(20px);
  text-align: center;
  &__cat {
    display: inline-block;
    margin-bottom: pxToRem(12px);
    padding-bottom: pxToRem(3px);
    border-bottom: 1px solid $primary-text-color;
    font-size: pxToRem(13px);
  }
  &__main {
    font-size: pxToRem(16px);
    line-height: 1.5;
  }
  @include mq(md) {
    margin-bottom: pxToRem(32px);
    &__cat {
      margin-bottom: pxToRem(16px);
      font-size: pxToRem(14px);
    }
    &__main {
      font-size: pxToRem(18px);
      line-height: 1.5;
    }
  }
}
