@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;
/*
/*
  sns
*/

.c-sns {
  display: flex;
  &__item {
    width: 24px;
    margin-right: pxToRem(12px);
    &:last-child {
      margin-right: 0;
    }
  }
}
