extends ../../layout/_main

block append config
  //- ===========================================
  //-   ページの設定
  //- ===========================================
  -
    const page = {
      title: `florist | 作品一覧 | ${SITE_NAME}`,
      description: '',
      path: ROOT_PATH + 'work/florist/',
      image: SITE_URL + '/assets/img/ogp.png',
    }

    const desc = {
      category: 'Web Design',
      name: 'オリジナルコーポレートサイト',
      garally: [
        'screen_flower01_pc.jpg',
        'screen_flower02_pc.jpg',
        'screen_flower03_pc.jpg',
      ]
    };

    const contents = [
      {
        head: 'URL',
        dd: [
          {
            url: 'https://florist.n-enu.me/',
          }
        ]
      },
      {
        head: '概要',
        text: 'ポートフォリオ用の架空サイトです。初めてのことに取り組んでみようと、今まで使用した事のなかったツールや環境を積極的に取り入れました。',
      },
      {
        head: '使用ツール',
        text: 'Figma / illustlator / Photoshop / After Effect / HTML / CSS / javascript / webpack',
      },
      {
        head: 'レスポンシブ',
        text: '対応',
      },
      {
        head: 'デザイン',
        text: '初めてFigmaを使いコンポーネントやプロトタイプを作成。ローディングはAfter Effect、花の切り抜きはPhotoshop、ロゴはIllustlatorというように使い分けながら作成しています。',
      },
      {
        head: 'コーディング',
        text: '画像の寄せなどCSSの使い方を改めて勉強しながら構築しました。初めてwebpackを使用したため、ディレクトリ構造や記述方法を確認しながら進めました。（webpackは配布していただいた環境を使用しています。）',
      },
      {
        head: '制作期間',
        text: '6日（ デザイン2日 / コーディング3.5日 / アニメーション0.5日）',
      },
    ];

block append head
  //- ===========================================
  //-   ページ用のスタイルやスクリプト
  //- ===========================================

block mainContent
  //- ===========================================
  //-   メインコンテンツ
  //- ===========================================
  include ../../include/_single
